:root { 
--white_A700_5b:#ffffff5b; 
--blue_gray_100:#d9d9d9; 
--white_A700_6d:#ffffff6d; 
--gray_900:#173d00; 
--gray_900_01:#610d0d; 
--lime_900:#615e09; 
--black_900_3f:#0000003f; 
--gray_50:#fffbfb; 
--green_A400:#07fa68; 
--yellow_A200:#f7fc00; 
--black_900_01:#000000; 
--black_900:#08080a; 
--teal_900:#0d3552; 
--white_A700:#ffffff; 
--black_900_af:#000000af; 
}